@{
    ViewData["Title"] = "About";
}
<section class="section-about">
    <div class="bg container-fluid">
        <img src="~/assets/img/bg2.jpg" alt="" class="col-md-12">
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-about">
                <h1 class="text-center mb-5">Tentang Jingl</h1>
            </div>

            <div class="col-md-12 text-center">
                <div class="text-about text-center">
                    <p>Punya teman yang terobsesi dengan selebriti dan orang terkenal lainnya? Nah, ini saatnya kamu kasih hadiah paling berkesan buat dia! Jingl punya opsi untuk kamu : personalized video messages yang langsung direkam sama selebriti favorit. Misi kami adalah untuk menciptakan pengalaman otentik dan memorable langsung dari selebriti atau talent favorit kamu.</p>
                </div>

                <div class="text-about text-center ">
                    <h3>Yuk Kenalan Sama Jingl</h3>

                    <p>Jingl adalah platform dimana kamu bisa memesan video personal langsung ke selebriti atau talent favorit lainnya.Kamu bisa memesan video untuk kamu sendiri atau teman dan keluarga yang sedang merayakan ulang tahun, kelulusan, pertunangan, pernikahan, atau momen lainnya, asalkan request masih wajar dan tidak melanggar norma kesopanan atau kesusilaan.</p>
                </div>

                <div class="text-about text-center ">

                    <h3>Momen apa saja yang bisa dibagi?</h3>

                    <p>
                        Untuk Fans : Kamu bisa pesan video sapaan dari selebriti atau talent favorit kamu dengan sangat mudah.<br />
                        Untuk Talent : Kamu bisa dapat banyak fans baru dan mendapatkan tambahan uang lebih. Yay!<br />

                        Untuk Fans dan Talent : Kalian bisa terkoneksi dan berbagi momen yang otentik dan memorable. <br />
                        Ingin berbagi momen dengan yang lain? Bisa banget! Kamu bisa download videonya dan sebarkan lewat akun sosmed kamu
                    </p>

                </div>
                <div class="text-about text-center">
                    <h3>Gimana sih Cara Pesannya?</h3>

                    <p>
                        Super duper easy.
                        Pertama, pilih talent yang kamu mau.
                        Kedua, isi data dan pesan yang ingin disampaikan oleh talent.
                        Ketiga, selesaikan transaksi kamu.
                        Keempat, silakan duduk, ngopi sambil browsing-browsing manis dan tunggu 3-4 hari video kamu akan dikirim langsung ke apps/email.
                    </p>
                </div>
                <div class="text-about text-center">
                    <p>
                        Tertarik jadi Talent?
                        Nah, kalau kamu pengen jadi talent Jingl ikutan Jinglstar yuk! Kamu akan mendapat banyak fans baru dan penghasilan tambahan, cus klik disini!
                    </p>
                </div>

                <a asp-area="" asp-controller="Home" asp-action="Registration" type="button" class="btn btn-about btn-primary btn-lg">Daftar Sekarang</a>

            </div>
        </div>
    </div>
</section>