@model backend.jingle.net.Models.UserAuth
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-form">
    <div class="bg container-fluid">
        <img src="~/assets/img/bg2.jpg" alt="" class="col-md-12">
    </div>
    <div class="container ">
        <div class="row align-items-center justify-content-center ">
            <div class="col-md-12">
                <h1 class="text-center mb-2">Login</h1>
            </div>

            <div class="col-md-4 align-self-center">

                <form class="shadow-lg col-form login" asp-controller="Home" asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Forgot Password</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Troy@email.com">
                    </div>                   
                    <div style="display:none">
                        <input type="text" class="form-control" asp-for="Ipaddress" value="@HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()">
                    </div>
                    @ViewBag.Message
                    <button type="submit" class="btn btn-primary float-right">Send Email</button>
                </form>
            </div>
        </div>
    </div>
</section>


