
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-video">
    <div class="bg container-fluid">
        <img src="~/assets/img/bg2.jpg" alt="" class="col-md-12">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 class="text-center">Jingl Talents Video </h1>
                <p class="text-center mb-5 head-p">Ucapan video dari Jingl Talents yang akan menciptakan momen yang sangat memorable buat para fans</p>
            </div>
            <div class="col-md-6">
                <div class="video">
                    <div class="box-video">
                        <div class="embed-responsive embed-responsive-1by1">

                            <video class="embed-responsive-item" width="320" height="240" controls>
                                <source src="~/assets/video/WhatsApp%20Video%202019-02-12%20at%2018.12.34%20(1).mp4" type="video/mp4">
                            </video>

                        </div>
                    </div>
                    <div class="video-text">
                        <h5>Ilmira Usmanova, Model</h5>
                        <p>Sings "Happy Birthday To You".</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video">
                    <div class="box-video">
                        <div class="embed-responsive embed-responsive-1by1">
                            <video class="embed-responsive-item" width="320" height="240" controls>
                                <source src="~/assets/video/WhatsApp%20Video%202019-02-12%20at%2018.12.35.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="video-text">
                        <h5>Senk Lotta, Model</h5>
                        <p>Ucapan 'graduation' termanis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video">
                    <div class="box-video">
                        <div class="embed-responsive embed-responsive-1by1">
                            <video class="embed-responsive-item" width="320" height="240" controls>
                                <source src="~/assets/video/WhatsApp%20Video%202019-02-12%20at%2018.12.35%20(1).mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="video-text">
                        <h5>Putri Marino, Aktris</h5>
                        <p>Nyanyian 'Happy Birthday' buat fans tercinta</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video">
                    <div class="box-video">
                        <div class="embed-responsive embed-responsive-1by1">

                            <video class="embed-responsive-item" width="320" height="240" controls>
                                <source src="~/assets/video/WhatsApp%20Video%202019-02-12%20at%2018.12.34.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="video-text">
                        <h5>Santi Waine, Model</h5>
                        <p>Romantisnya ucapan ulang tahun ala Waine.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
