
@{
    ViewData["Title"] = "Jingl !!";
}

<!-- ======== Loader ======== -->
<div id="loading-layer" class="loading-layer show-layer">
    <div class="ajax-loader">
        <div class="show-fx trans-10 delay-02">
            <div class="loader-img skew-fx-loop"><img src="images/LogoJinglpre.png" height="308" width="308" alt="Logo"></div>
        </div>
        <div class="show-fx trans-10 delay-03">
            <div class="loader-bar">
                <span class="progress-bar"></span>
            </div>
        </div>
    </div>
</div>

<!-- ======== Resopnsive Navigation ======== -->
<div class="responsive-block">
    <div class="responsive-block-content">
        <a href="#" class="responsive-block-close"></a>
        <nav id="responsive-nav">
            <!-- Responsive nav here -->
        </nav>
        <div id="responsive-social">
            <!-- Responsive Social Icons from header -->
        </div>
    </div>
</div>
<div class="responsive-block-layer"></div>

<!-- ======== Header ======== -->
<div id="header" class="hide-navigation">

    <!-- ======== Search ======== -->
    <div id="search-block">
        <input type="text" placeholder="Search and hit enter..." name="s" id="search" />
    </div>
    <!-- /search -->
    <!-- ======== Social ======== -->
    <div id="social-block">
        <h6 class="social-title trans-10 show-fx">Follow Me</h6>

        <div class="social-icons trans-10 show-fx delay-01">

            <!-- Facebook -->
            <a href="https://www.facebook.com/Jingl-2053654128052885/" target="_blank" class="circle-btn">
                <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                </svg>
                <span class="icon icon-facebook"></span>
            </a>

            <!-- instagram -->
            <a href="https://www.instagram.com/jingl_id/" target="_blank" class="circle-btn">
                <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                </svg>
                <span class="icon icon-instagram"></span>
            </a>

        </div>

    </div>
    <!-- /share icons -->
    <!-- ======== Main Navigation ======== -->
    <div id="main-nav">

        <!-- Navigation container -->
        <div class="nav-container">

            <!-- ======== Logo ======== -->
            <a href="index.html" id="logo" class="smooth-scroll skew-fx">
                <img src="~/images/LogoJingl.png" width="137" height="137" alt="Logo" class="logo-light">
                <img src="~/images/LogoJingl.png" width="137" height="137" alt="Logo" class="logo-dark">
            </a>
            <!-- /logo -->
            <!-- ======== Icon navigation ======== -->
            <nav id="icon-nav">
                <ul>
                    <li class="responsive-trigger-wrap">
                        <a href="#" class="circle-btn responsive-trigger">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="icon"></span>
                        </a>
                    </li>

                    <li class="search-trigger-wrap">
                        <a href="#" id="nav-search" class="circle-btn">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="pe-7s-search"></span>
                        </a>
                    </li>
                    <li class="social-trigger-wrap">
                        <a href="#" id="nav-social" class="circle-btn">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="pe-7s-share"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /icon navigation -->
            <!-- ======== Navigation ======== -->
            <nav id="nav">
                <ul>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#bio" class="trans-10 text-fx-btn-x">Bikin Video Seperti Apa?</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#music" class="trans-10 text-fx-btn-x">Inspirasi Video</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#contact" class="trans-10 text-fx-btn-x">Contact</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a asp-action="Login" class="trans-10 text-fx-btn-x">Login</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                       
                        <a href="@(Html.Raw(Url.Action("Registration", "Home") + Context.Request.QueryString))" class="trans-10 text-fx-btn-x">Daftar</a>
                    </li>

                </ul>
            </nav>
            <!-- /navigation -->

        </div>
        <!-- /navigation container -->
    </div>
    <!-- /main navigation -->
</div>
<!-- /header -->
<!-- ======== Site ======== -->
<div class="site">

    <!-- ======== intro ======== -->
    <div id="intro" class="intro intro-01 intro-fullscreen clearfix">

        <!-- Image -->
        <div class="intro-image parallax blur-fx trans-20"><img class="hidden" src="~/images/giff.gif" alt="Intro-image"></div>


        <!-- Text slider -->
        <div class="text-slider" data-delay="5">
            <div class="text-slide visible">
                <h2 class="text-fx jingl">JINGL</h2>
                <h6 class="text-fx-word">Yuk Jadi Talent Jingl & Let's Get Famous</h6>
            </div>
            <div class="text-slide">
                <h2 class="text-fx jingl">JINGL</h2>
                <h6 class="text-fx-word"> Kamu Bisa Dapat Rp. 100.000 Kalau Daftar dan Upload Video Sekarang</h6>
            </div>
        </div>
        <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center btn-header">
            <a href="@(Html.Raw(Url.Action("Registration", "Home") + Context.Request.QueryString))" class="button">Daftar Disini</a>
            <a href="https://wa.me/628196077558" class="button btn-wa" value="Send Email">Daftar Via Whatsapp</a>
        </div>


        <!-- /text slider -->
        <span class="scroll-discover"><span class="icon icon-line-arrow-left"></span> Scroll to discover</span>
    </div>
    <!-- /intro -->
    <!-- ======== bio ======== -->
    <div id="bio" class="section">

        <!-- container -->
        <div class="container small section-content bio-text-block">
            <!-- == content header == -->
            <header class="content-header">
                <h2 class="content-title">Langkah Untuk Siapkan Video WOW mu!</h2>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Video WOW</span>
            </header>




            <ul class="ul-jingl">
                <li>1. Tampil Seru Tanpa Malu-Malu. Bayangkan videomu bisa membuat orang lain lebih bahagia. Pssst… No Porn , No SARA yah.</li>
                <li>2. Pilih Tema. Bisa ucapan ulang tahun, kelulusan, lamaran, liburan, atau apapun yang membutuhkan ucapan selamat. Sudah terpikir? Yuk segera ambil smartphone kamu.</li>
                <li> 3. Jaga Kualitas Video. Pastikan gambarnya jelas, dan tidak blur dengan orientasi vertikal. Panjang video antara 15-20 detik, dan perhatikan size-nya jangan lebih dari 6 MB yah.</li>
                <li>4. Sudah kece videonya? Yuk segera Upload di <a asp-action="Login">sini.</a></li>
            </ul>





            <blockquote class="block-jingl">
                Dapatkan Rp. 100.000 untuk 100 pendaftar pertama yang meng-upload video
            </blockquote>

            <p> Cus langsung scroll ke bawah untuk melihat beberapa contoh video dari Jingl Talent! </p>



            <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <a asp-action="Registration" class="button" value="Send Email">Daftar Disini</a>
                <a href="https://wa.me/628196077558" class="button btn-wa" value="Send Email">Daftar Via Whatsapp</a>
            </div>

        </div>
        <!-- /container -->

    </div>
    <!-- /bio -->
    <!-- ======== Music ======== -->
    <div id="music" class="section">

        <div class="container music-header section-content full-width">
            <!-- == content header == -->
            <header class="content-header">
                <h2 class="content-title">Mau Dapat Inspirasi Video? Cek Di Sini!</h2>
                <span class="back-layer barlow" data-parallax='{"y": 20}'>Inspirasi Video</span>
            </header>

        </div>

        <div class="grid-row grid-row-pad-large">
            <div class="grid-3 grid-tablet-12 grid-mobile-12">

                <p>
                    <a href="video/video1.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place4.png" alt="release cover">


                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Ilmira Usmanova, Model</h4>
                <p class="text-center">Sings "Happy Birthday To You".</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video2.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place2.jpeg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Santi Waine, Model</h4>
                <p class="text-center">Romantisnya ucapan ulang tahun ala Waine.</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video3.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place3.jpeg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Putri Marino, Aktris</h4>
                <p class="text-center">Nyanyian 'Happy Birthday' buat fans tercinta</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video4.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place.jpeg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Senk Lotta, Model</h4>
                <p class="text-center">Ucapan 'graduation' termanis</p>
             
            </div>
            <!--
            <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <a href="#" class="button" value="Send Email">More Video</a>
            </div>
            -->

        </div>

    </div>
    <!-- /music -->
    <!-- ======== Newsletter ======== -->
    <div id="newsletter" class="newsjingl">
        <div class="overlay dots"></div> <!-- overlay layer -->
        <!-- == section container == -->
        <div class="container section-content dark-bg clearfix">

            <!-- == content header == -->
            <header class="content-header">
                <h1 class="content-title">Kalau Jadi Talent, What's Next?</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>What's Next</span>
            </header>
            <!-- /content header -->
            <p class="p-next">Kalau kamu terpilih menjadi Jingl Talent, so video kamu bisa muncul di web Jingl, mendapat uang tambahan jika ada yang memesan videomu, tambah fans, serta akan mendapat komisi pemesanan dengan memberikan kode referalmu untuk teman yang mendaftar dan terpilih.</p>

            <!--
                            <ul class="ul-jingl jingl-next">
                                <li> 1. Video kamu bisa muncul di website Jingl</li>
                                <li> 2. Kamu akan mendapat uang tambahan jika ada fans yang memesan video</li>
                                <li> 3. Kamu bisa mendapat komisi pemesanan dengan memberikan kode referalmu ke teman, jika mereka mendaftar dan terpilih jadi talent</li>
                                <li> </li>
                            </ul>
            -->
            <h3>Seru kan? Yuk Daftarin Dirimu Sekarang Juga!</h3>

        </div>
        <!-- /container -->
    </div>
    <!-- /newsletter -->
    <!-- ======== contact ======== -->
    <div id="contact" class="section">



        <!-- == section container == -->
        <div class="container section-content clearfix">

            <!-- == content header == -->
            <header class="content-header">
                <h1 class="content-title">Contact</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Contact</span>
            </header>
            <!-- /content header -->
            <!-- Grid 2 columns -->
            <div class="grid-row grid-row-pad-large">

                <!-- Col 1 -->

                @{
                    Html.RenderPartial("_Contact");
                }

                <!-- Col 2 -->
                <!--
    <div class="grid-6 grid-mobile-12 grid-tablet-12 col-contact-details">
        <p>
            <span class="contact-info">Manager</span>
            <a href="tel:+48221321321" class="barlow contact-link">+48 221-321-321</a>
            <a href="mailto:yourmailhere" class="barlow contact-link contact-email">manager@meloo.com</a>
        </p>
        <p>
            <span class="contact-info">Booking</span>
            <a href="tel:+48221321321" class="barlow contact-link">+48 411-721-791</a>
            <a href="mailto:yourmailhere" class="barlow contact-link contact-email">booking@meloo.com</a>
        </p>
        <p>
            <span class="contact-info">Preorder</span>
            <a href="tel:+48221321321" class="barlow contact-link">+48 875-121-131</a>
            <a href="mailto:yourmailhere" class="barlow contact-link contact-email">preorder@meloo.com</a>
        </p>
    </div>
    -->

            </div>

        </div>
        <!-- /section container -->

    </div>
    <!-- /contact -->
    <!-- ======== footer ======== -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <div id="copyrights">
                &copy; Copyright 2019 PT. Jingl Kreasi Indonesia.
            </div>



            <div class="social-icons trans-10 text-center delay-01">

                <!-- Facebook -->
                <a href="https://www.facebook.com/Jingl-2053654128052885/" target="_blank" class="circle-btn">
                    <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                        <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                    </svg>
                    <span class="icon icon-facebook"></span>
                </a>

                <!-- instagram -->
                <a href="https://www.instagram.com/jingl_id/" target="_blank" class="circle-btn">
                    <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                        <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                    </svg>
                    <span class="icon icon-instagram"></span>
                </a>

            </div>



        </div>
        <!-- /container -->
    </footer>
    <!-- /footer -->
</div>
<!-- /site -->
