
@{
    ViewData["Title"] = "Jingl !!";
}

<!-- ======== Loader ======== -->
<div id="loading-layer" class="loading-layer show-layer">
    <div class="ajax-loader">
        <div class="show-fx trans-10 delay-02">
            <div class="loader-img skew-fx-loop"><img src="images/Jing_pre.png" alt="Logo"></div>
        </div>
        <div class="show-fx trans-10 delay-03">
            <div class="loader-bar">
                <span class="progress-bar"></span>
            </div>
        </div>
    </div>
</div>

<!-- ======== Resopnsive Navigation ======== -->
<div class="responsive-block">
    <div class="responsive-block-content">
        <a href="#" class="responsive-block-close"></a>
        <nav id="responsive-nav">
            <!-- Responsive nav here -->
        </nav>
        <div id="responsive-social">
            <!-- Responsive Social Icons from header -->
        </div>
    </div>
</div>
<div class="responsive-block-layer"></div>

<!-- ======== Header ======== -->
<div id="header" class="hide-navigation">

    <!-- ======== Search ======== -->
    <div id="search-block">
        <input type="text" placeholder="Search and hit enter..." name="s" id="search" />
    </div>
    <!-- /search -->
    <!-- ======== Social ======== -->
    <div id="social-block">
        <h6 class="social-title trans-10 show-fx">Follow Me</h6>

        <div class="social-icons trans-10 show-fx delay-01">

            <!-- Facebook -->
            <a href="https://www.facebook.com/Jingl-2053654128052885/" target="_blank" class="circle-btn">
                <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                </svg>
                <span class="icon icon-facebook"></span>
            </a>

            <!-- instagram -->
            <a href="https://www.instagram.com/jingl_id/" target="_blank" class="circle-btn">
                <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                </svg>
                <span class="icon icon-instagram"></span>
            </a>

        </div>

    </div>
    <!-- /share icons -->
    <!-- ======== Main Navigation ======== -->
    <div id="main-nav">

        <!-- Navigation container -->
        <div class="nav-container">

            <!-- ======== Logo ======== -->
            <a href="#intro" id="logo" class="smooth-scroll skew-fx">
                <img src="~/images/Jing_e%201.png" alt="Logo" class="logo-light">
                <img src="~/images/Jing_e%201.png" alt="Logo" class="logo-dark">
            </a>
            <!-- /logo -->
            <!-- ======== Icon navigation ======== -->
            <nav id="icon-nav">
                <ul>
                    <li class="responsive-trigger-wrap">
                        <a href="#" class="circle-btn responsive-trigger">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="icon"></span>
                        </a>
                    </li>

                    <!-- <li class="search-trigger-wrap"><a href="#" id="nav-search" class="circle-btn">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="pe-7s-search"></span>
                        </a>
                    </li> -->
                    <li class="social-trigger-wrap">
                        <a href="#" id="nav-social" class="circle-btn">
                            <svg class="circle-svg" width="40" height="40" viewBox="0 0 50 50">
                                <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                            </svg>
                            <span class="pe-7s-share"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /icon navigation -->
            <!-- ======== Navigation ======== -->
            <nav id="nav">
                <ul>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#bio" class="trans-10 text-fx-btn-x">About Us</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#music" class="trans-10 text-fx-btn-x">Video Terbaik</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#newsletter" class="trans-10 text-fx-btn-x">Cara Order</a>
                    </li>
                    <li class="text-fx-btn rotate-x-360">
                        <a href="#contact" class="trans-10 text-fx-btn-x">Contact</a>
                    </li>

                    <li class="text-fx-btn rotate-x-360">
                        <a href="#Gabung" class="trans-10 text-fx-btn-x">Daftar</a>
                    </li>

                </ul>
            </nav>
            <!-- /navigation -->

        </div>
        <!-- /navigation container -->
    </div>
    <!-- /main navigation -->
</div>
<!-- /header -->
<!-- ======== Site ======== -->
<div class="site">

    <!-- ======== intro ======== -->
    <div id="intro" class="intro intro-01 intro-fullscreen clearfix">

        <!-- Image -->
        <div class="intro-image parallax blur-fx trans-20"><img class="hidden" src="images/giff.gif" alt="Intro-image"></div>


        <!-- Text slider -->
        <div class="text-slider" data-delay="5">
            <div class="text-slide visible">
                <h2 class="text-fx jingl">JINGL</h2>
                <h6 class="text-fx-word">Dapetin Video Langsung dari idola kini makin MUDAH</h6>
            </div>
            <div class="text-slide">
                <h2 class="text-fx jingl">JINGL</h2>
                <h6 class="text-fx-word"> Kamu Bisa Dapat Rp. 100.000 Kalau Daftar dan Upload Video Sekarang</h6>
            </div>
        </div>
        <div class="grid-6 grid-tablet-12 grid-mobile-12 text-center btn-header">
            <div>
                <a href="#" class="trans-10 text-fx-btn-x">
                    <img class="trans-20" src="images/badge-google_play.png" style="width: 40%">
                </a>
            </div>

        </div>


        <!-- /text slider -->
        <span class="scroll-discover"><span class="icon icon-line-arrow-left"></span> Scroll to discover</span>
    </div>
    <!-- /intro -->
    <!-- ======== bio ======== -->
    <div id="bio" class="section">

        <!-- container -->
        <div class="container small section-content bio-text-block">
            <!-- == content header == -->
            <header class="content-header">
                <h2 class="content-title">About us</h2>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>about us</span>
            </header>

            <p>Punya teman yang terobsesi dengan selebriti dan orang terkenal lainnya? Nah saatnya kamu kasih hadiah paling berkesan buat dia! Jingl punya opsi Jingl punya opsi untuk kamu : personalized video messages yang langsung direkam sama selebriti favorit kamu. Misi kami adalah untuk menciptakan pengalaman otentik dan memorable langsung dari talent.</p>


            <blockquote class="block-jingl">
                What Is JINGL?
            </blockquote>

            <p>Jingl adalah platform dimana kamu bisa memesan video personal langsung ke selebriti atau talent favorit lainnya.Kamu bisa memesan video untuk kamu sendiri atau teman dan keluarga yang sedang merayakan ulang tahun, kelulusan, pertunangan, pernikahan, dll. Selama request yang diminta masih nggak melanggar norma kesopanan.</p>

            <ul class="ul-jingl">
                <li>Saatnya Berbagi Momen Bersama</li>
                <li>Untuk Fans : Kamu bisa pesan video sapaan dari selebriti atau talent favorit kamu dengan sangat mudah.</li>
                <li>Untuk Talent : Kamu bisa dapat banyak fans baru dan mendapatkan tambahan uang lebih. Yay!</li>
                <li>Untuk Fans dan Talent : Kalian bisa terkoneksi dan berbagi momen yang otentik dan memorable.</li>
                <li>Ingin berbagi momen dengan yang lain? Bisa banget! Kamu bisa download videonya dan sebarkan lewat akun sosmed kamu.</li>
            </ul>






            <p> Cus langsung scroll ke bawah untuk melihat beberapa contoh video dari Jingl Talent! </p>



            <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <div>
                    <a href="#">
                        <img src="images/badge-google_play.png" style="width: 20%">
                    </a>
                </div>
            </div>

        </div>
        <!-- /container -->

    </div>
    <!-- /bio -->
    <!-- ======== Music ======== -->
    <div id="music" class="section">

        <div class="container music-header section-content full-width">
            <!-- == content header == -->
            <header class="content-header">
                <h2 class="content-title">Video</h2>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>video terbaik</span>
            </header>

        </div>

        <div class="grid-row grid-row-pad-large" videobest>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">

                <p>
                    <a href="video/video1.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place4.png" alt="release cover">


                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Ilmira Usmanova, Model</h4>
                <p class="text-center">Sings "Happy Birthday To You".</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video2.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place2.jpeg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Senk Lotta, Model</h4>
                <p class="text-center">Ucapan 'graduation' termanis</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video3.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place3.jpeg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Putri Marino, Aktris</h4>
                <p class="text-center">Nyanyian 'Happy Birthday' buat fans tercinta</p>
            </div>
            <div class="grid-3 grid-tablet-12 grid-mobile-12">
                <p>
                    <a href="video/video5.mp4" class="thumb-fade thumb mediabox" title="Image Title">
                        <!-- Image -->
                        <div class="box-image">
                            <img src="images/place5.jpg" alt="release cover">

                            <!-- Icon -->
                            <span class="thumb-icon trans-40">
                                <svg class="circle-svg" width="80" height="80" viewBox="0 0 50 50">
                                    <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                                </svg>
                                <span class="pe-7s-video"></span>
                            </span>
                        </div>
                    </a>
                </p>
                <h4 class="text-center h4-jingl">Ririn, JinglStar</h4>
                <p class="text-center">Romantisnya ucapan ulang tahun ala Waine.</p>
            </div>

            @*<div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <a href="video.html" class="button" value="More Video">More Video</a>
            </div>*@


        </div>

    </div>
    <!-- /music -->
    <!-- ======== Newsletter ======== -->
    <div id="newsletter" class="newsjingl section">
        <div class="overlay dots"></div> <!-- overlay layer -->
        <!-- == section container == -->
        <div class="container section-content dark-bg clearfix">

            <!-- == content header == -->
            <header class="content-header">
                <h1 class="content-title">Gimana cara pesannya</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>how to order</span>
            </header>
            <!-- /content header -->
            <p class="p-next">Super duper easy. Pertama, pilih talent yang kamu mau. Kedua, isi form berisi data kamu dan pesan yang ingin disampaikan oleh talent. Ketiga, selesaikan transaksi kamu Keempat, silakan duduk, ngopi sambil browsing-browsing manis dan tunggu 3-4 hari video kamu akan dikirim langsung ke apps/email.</p>

            <!--
                            <ul class="ul-jingl jingl-next">
                                <li> 1. Video kamu bisa muncul di website Jingl</li>
                                <li> 2. Kamu akan mendapat uang tambahan jika ada fans yang memesan video</li>
                                <li> 3. Kamu bisa mendapat komisi pemesanan dengan memberikan kode referalmu ke teman, jika mereka mendaftar dan terpilih jadi talent</li>
                                <li> </li>
                            </ul>
            -->
            <h3>Seru kan? Yuk Daftarin Dirimu Sekarang Juga!</h3>

            <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <div>
                    <a href="https://jingl.azurewebsites.net/Account/Onboarding" class="button" value="More Video">Daftar</a>
                </div>
            </div>

        </div>
        <!-- /container -->
    </div>
    <!-- /newsletter -->
    <!-- ======== contact ======== -->
    <div id="contact" class="section">



        <!-- == section container == -->
          <div class="container section-content clearfix">


            <header class="content-header">
                <h1 class="content-title">Contact</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Contact</span>
            </header>

            <div class="grid-row grid-row-pad-large">


                <div class="grid-12 grid-mobile-12 grid-tablet-12 col-cf">

                    <h3 class="heading-2">Contact Form</h3>

                    <form action="#" method="" class="contact-form">
                        <input type="text" name="name" value="" id="contact-name" class="half" placeholder="Full Name" required>
                        <input type="email" name="email" value="" id="contact-email" class="half last" placeholder="Email Address" required>
                        <input type="text" name="subject" value="" id="contact-subject" placeholder="Message Subject">
                        <textarea name="message" id="contact-message" cols="88" rows="6" placeholder="Message" required></textarea>
                        <div class="hidden">
                            <label for="contact-spam-check">Do not fill out this field:</label>
                            <input name="spam-check" type="text" value="" id="contact-spam-check" />
                        </div>

                        <input type="submit" class="button" value="Send Email">
                    </form>
                </div>



            </div>

        </div> 


    </div>
    <!-- /contact -->
    <!-- ======== bio ======== -->
    <div id="Gabung" class="section gabung">

        <!-- container -->
        <div class="container section-content bio-text-block">
            <!-- == content header == -->
            <header class="content-header">
                <h2 class="content-title">Gabung jadi Talent</h2>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Bergabung</span>
            </header>

            <p>
                Tertarik jadi Talent? Nah, kalau kamu pengen ikutan Jingl Talent, mendapat banyak fans baru dan penghasilan tambahan, cus klik Gabung!
            </p>

            <div class="grid-12 grid-tablet-12 grid-mobile-12 text-center">
                <div>
                    <a href="https://jingl.azurewebsites.net/Account/Onboarding" class="button" value="More Video">Gabung</a>
                </div>
            </div>

        </div>
        <!-- /container -->

    </div>




    <!-- ======== footer ======== -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <div id="copyrights">
                &copy; Copyright 2019 JINGL.
            </div>



            <div class="social-icons trans-10 text-center delay-01">

                <!-- Facebook -->
                <a href="https://www.facebook.com/Jingl-2053654128052885/" target="_blank" class="circle-btn">
                    <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                        <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                    </svg>
                    <span class="icon icon-facebook"></span>
                </a>

                <!-- instagram -->
                <a href="https://www.instagram.com/jingl_id/" target="_blank" class="circle-btn">
                    <svg class="circle-svg" width="50" height="50" viewBox="0 0 50 50">
                        <circle class="circle" cx="25" cy="25" r="23" stroke="#fff" stroke-width="1" fill="none"></circle>
                    </svg>
                    <span class="icon icon-instagram"></span>
                </a>

            </div>



        </div>
        <!-- /container -->
    </footer>
    <!-- /footer -->
</div>
<!-- /site -->