@model Jingl.Web.Models.LandingRegistrationRequest
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======== Loader ======== -->
<div id="loading-layer" class="loading-layer show-layer">
    <div class="ajax-loader">
        <div class="show-fx trans-10 delay-02">
            <div class="loader-img skew-fx-loop"><img src="~/images/LogoJinglpre.png" alt="Logo"></div>
        </div>
        <div class="show-fx trans-10 delay-03">
            <div class="loader-bar">
                <span class="progress-bar"></span>
            </div>
        </div>
    </div>
</div>

<!-- ======== Resopnsive Navigation ======== -->
<div class="responsive-block">
    <div class="responsive-block-content">
        <a href="#" class="responsive-block-close"></a>
        <nav id="responsive-nav">
            <!-- Responsive nav here -->
        </nav>
        <div id="responsive-social">
            <!-- Responsive Social Icons from header -->
        </div>
    </div>
</div>
<div class="responsive-block-layer"></div>


<!-- ======== Site ======== -->
<div class="site">

    <!-- ======== contact ======== -->
    <div id="contact" class="section">

        <!-- == section container == -->
        <div class="container section-content clearfix">

            <!-- == content header == -->
            <header class="content-header">
                <h1 class="content-title">Register</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Register</span>
            </header>
            <!-- /content header -->
            <!-- Grid 2 columns -->
            <div class="grid-row grid-row-pad-large">

                <!-- Col 1 -->
                <div class="grid-4 grid-offset-4 grid-desktop-offset-4 grid-mobile-12 grid-mobile-offset-0 grid-tablet-12 grid-tablet-offset-0 col-cf">

                    <h3 class="heading-2">Registration Form</h3>
                    @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
                    {
                        <form action="" method="post" class="contact-form">
                            <input type="text" asp-for="Name" id="contact-subject" placeholder="Nama">
                            <input type="email" asp-for="Email" id="contact-email" placeholder="Email Address" required>
                            <input type="password" asp-for="Password" placeholder="Password">
                            <input type="text" asp-for="SocialMedia" placeholder="Akun Media Sosial">
                            <input type="text" asp-for="Referral" value="@ViewBag.Reff" placeholder="Kode Refferal">
                            <label for="exampleFormControlSelect1">Jika terpilih, apakah kamu bersedia memproduksi video dalam waktu 2-3 hari?</label>
                            Ya
                            @Html.RadioButtonFor(model => model.VideoYes, true)
                            Tidak
                            @Html.RadioButtonFor(model => model.VideoYes, false)
                            <div class="hidden">
                                <label for="contact-spam-check">Do not fill out this field:</label>
                                <input name="spam-check" type="text" value="" id="contact-spam-check" />
                                <input type="text" class="form-control" asp-for="RegisteredIp" value="@HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()">
                            </div>
                            <br />
                            <input type="submit" class="button" value="Daftar">
                        </form>
                    }

                    <br />
                    <p class="daftarJingl">Sudah Punya akun? <a asp-action="Login">Silahkan Login</a></p>
                </div>

            </div>

        </div>
        <!-- /section container -->

    </div>
    <!-- /contact -->




</div>

