@model Jingl.Web.Models.UserAuth
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======== Resopnsive Navigation ======== -->
<div class="responsive-block">
    <div class="responsive-block-content">
        <a href="#" class="responsive-block-close"></a>
        <nav id="responsive-nav">
            <!-- Responsive nav here -->
        </nav>
        <div id="responsive-social">
            <!-- Responsive Social Icons from header -->
        </div>
    </div>
</div>
<div class="responsive-block-layer"></div>


<!-- ======== Site ======== -->
<div class="site">

    <!-- ======== contact ======== -->
    <div id="contact" class="section">

        <!-- == section container == -->
        <div class="container section-content clearfix">

            <!-- == content header == -->
            <header class="content-header">
                <h1 class="content-title">Login</h1>
                <span class="back-layer barlow" data-parallax='{"y": -40}'>Login</span>
            </header>
            <!-- /content header -->
            <!-- Grid 2 columns -->
            <div class="grid-row grid-row-pad-large">

                <!-- Col 1 -->
                <div class="grid-4 grid-offset-4 grid-mobile-12 grid-tablet-12 col-cf">

                    <h3 class="heading-2">Login Form</h3>

                    <form asp-controller="Home" asp-action="Login" method="post" class="contact-form">

                        <input type="email" name="email" value="@Model.Email" placeholder="Email Address" readonly>
                        <input type="password" name="password" placeholder="Password" required>

                        <div class="hidden">
                            <input type="text" class="form-control" asp-for="Ipaddress" value="@HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()">
                        </div>

                        <input type="submit" class="button" value="Reset Password">
                        <br />

                    </form>
                    <span style="color:red;">@ViewBag.Message</span>
                </div>

            </div>

        </div>
        <!-- /section container -->

    </div>
    <!-- /contact -->





</div>


